@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');
body {
    font-family: 'The Girl Next Door', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #bb7d64;
    color: rgb(112, 67, 67);
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.5rem 1rem;
    background-color: #bb7d64;
    color: rgb(112, 67, 67);
    border: none;
    border-radius: 43px;
    cursor: pointer;
}

button:hover {
    background-color:#a0574c;
    color:whitesmoke;
}

#plushie-preview {
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
}

#plushie-image {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #a97575;
    color: white;
    border-radius: 20px;
}